@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #fff;
    
}

.menu {
    background-color: #04233f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.menu input {
    width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.menu .button button {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;   
    transition: 0.5s;
    margin-right: 10px;
}
.menu .button button:hover{
    opacity: 0.7;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 130px;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.card {
    color: #000;
    box-shadow: 0 0 10px #0000006b;
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    line-height: 25px;
    cursor: pointer;
}

.card img {
    margin-left: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    color: rgb(10, 37, 95);
}

#code {
    color: grey;
}

.footer {
    width: 100%;
    background-color: #04233f;
    padding: 10px 0;
}


